In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_Kingdom'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(type(soup))

In [ ]:
print(soup)

In [ ]:
print(soup.prettify())

In [ ]:
table = soup.findAll('table')

In [ ]:
print(table)

In [ ]:
len(table)

In [ ]:
table[0] # soup.findAll('table')[0]

In [ ]:
table = soup.find('table')
table

In [ ]:
len(tabel)

In [ ]:
tabel = soup.find('table', class_ = "wikitable sortable")
tabel

In [ ]:
titles = tabel.findAll('th')
titles

In [ ]:
feature_names = [title.text for title in titles]
feature_names

In [ ]:
feature_names = [title.text.strip() for title in titles]
feature_names

In [ ]:
df = pd.DataFrame(feature_names)
df

In [ ]:
df = pd.DataFrame(columns = feature_names)
df

In [ ]:
rows = tabel.findAll('tr')
rows

In [ ]:
for row in rows:
    row_data = row.findAll('td')
    individual_row_data = [data.text.strip() for data in row_data]
    print(individual_row_data)

In [ ]:
for row in rows[1:]:
    row_data = row.findAll('td')
    individual_row_data = [data.text.strip() for data in row_data]
    print(individual_row_data)

In [ ]:
for row in rows[1:]:
    row_data = row.findAll('td')
    individual_row_data = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = individual_row_data
    
df

In [ ]:
df.to_csv(r'D:\Data Projects\Top companies in UK.csv', index = False)